.component-cases-for-countries {
    position: relative;
    background: #f8f9fa; 
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
}
.global-cases {
    display: flex;
    flex-direction: column;    
    text-align: center;  
}
.global-cases-value {
    font-size: 3rem;
    color: rgb(230, 0, 0);
}
h3 {
    text-align: center;
}
.table-data {
    overflow-y: auto;
    height: 50%;
}
.last-updated-wrapper {
    text-align: center;
    height: 7vh;
    padding-top: 3vh;
}
.last-updated-value {
    font-size: 1.5rem;
    font-weight: bold;
}
.arrows-wrapper {    
    display: flex;
    justify-content: space-around;
    height: 3vh;
    border-top: 2px solid#6c757d;
    color: rgba($color: #343a40, $alpha: 1);
}
.data-cell {
    display: grid;
    grid-template-columns: 3fr 5fr 2fr;  
    border-bottom: 2px solid#6c757d;
}
.cell-value {
    color: rgb(230, 0, 0);
}
.input-field {
    cursor: pointer;
}
.hide {
    display: none;
}
#arrow-0, #arrow-1 {
    width: 20px;
    height: 20px;
}

