$background: rgb(40, 40, 40);
$chart-color: rgb(255, 170, 0);
.title {
  color: red;
}
.graph {
  background-color: $background;
}
.graph-navigation {
  color: rgba($color: #fff, $alpha: 0.8);
}