$background: #f8f9fa;
$chart-color: rgb(255, 170, 0);
.title {
  color: red;
}
.graph {
  background-color: $background;
  position: relative;
  user-select: none;
  padding-top: 20px;
  height: 100%;
}
canvas {
  height: 100% !important;
}
.chart {
  display: none;
  height: 85%
}
#chart-id {
  height: 90% !important;
}
.chart.active {
  display: block;
}
.graph-navigation {
  color: rgba($color: #343a40, $alpha: 1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 3px 10px;
}
.nav-item {
  font-size: 14px;
  display: none;
}
// .nav-item:hover {
//   cursor: pointer;
// }
.nav-item.active {
  display: block;
}
.arrow {
  height: 20px;
  width: 20px;
}
.arrow:hover {
  cursor: pointer;
}
.modal-menu {
  display: none;
  position: absolute;
  top: 0;
  margin-left: 50%;
  transform: translateX(-50%);
  text-align: center;
  border: 1px solid gray;
  font-size: 14px;
  width: max-content;
  transition: .3s;
}
.modal-menu.active {
  display: block;
  top: -212px;
  transition: .3s;
}
.modal-title {
  background-color: gray;
  padding: 5px 20px;
}
.modal {
  background-color: lightgray;
  padding: 5px 20px;
  border-top: 1px solid gray;
}
.modal:hover {
  cursor: pointer;
}