$color-cases: #3f007d;
$color-death: #67000d;
$color-recovered: #00441b;
$scrollbar-thumb: #5c5c5c;
$scrollbar: #404040;
$dark: #343a40;
$secondary: #6c757d;
$light:#f8f9fa;

* {
box-sizing: border-box;
}

%list {
  display: flex;
  flex-direction: column;
}

%list-name-wrap {
  display: flex;
  text-align: center;
  flex-direction: column;
}

%padding-blocks {
  padding: 0.25rem;
}

%scrollBar {
  overflow-y: auto;
  overflow-x: hidden;
}

%colors {
  background-color: $light;
}

%buttons-wrap {
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
  color: $light;

  svg {
    background-color: $dark;
    border-radius: 50%;
    pointer-events: none;
  }
  @extend %colors;
}

.ST {
  display: flex;
  height: 100%;
  justify-items: center;
  font-size: 1rem;

  p {
    font-size: 1rem;
    font-weight: 600;
    margin: 0.25rem 0;
    padding: 0.25rem 0;
    transition: all 0.25s ease;
    border-bottom: 0.15rem solid $color-cases;
    border-right: 0.15rem solid $color-cases;

    &:hover {
      font-size: 1.1rem;
      border-bottom: 0.05rem solid $color-cases;
      border-right: 0.05rem solid $color-cases;
    }
  }

  button {
    background-color: transparent;
    border-color: transparent;
    color: transparent;
    outline: none;
  }

  &__info-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    @extend %padding-blocks;
    @extend %colors;
  }

  &__info {
    height: 100%;
    @extend %scrollBar;
  }

  &__info-name-wrapper {
    background-color: $light;
    width: 100%;
    top: 0;
    @extend %list-name-wrap;
  }

  &__info-name {
    font-size: 1rem;
    font-weight: 900;
    padding: 0.25rem;
    color: $dark;
  }

  &__info-number {
    font-size: 1rem;
    font-weight: 900;
    padding: 0.25rem;
    color: $dark;
  }

  &__info-list {
    @extend %list;
    padding: 0.25rem;
  }

  &__info-list-country {
    color: $dark;
  }

  &__info-list-number {
    font-weight: 900;
    color: $color-cases;
  }

  &__info-list-status {
    color: $secondary;
  }

  &__info-buttons {
    margin-top: 0.25rem;
    padding: 0.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
    font-weight: 900;

    button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 1.5rem;
      opacity: 0.5;
      transition: all 0.5s ease;

      &:hover {
        cursor: pointer;
        opacity: 1;
      }
    }
  }

  &__info-buttons-img-wrapper {
    width: 1em;
  }

  &__info-buttons-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  &__info-current-status {
    text-align: center;
    color: $dark;
  }
}

.pointerOff {
pointer-events: none;
}
