.page-wrapper {
    background: #2c2c2c;    
    width: 20vw;
    color: #ffffff;
}
.global-cases {
    display: flex;
    flex-direction: column;    
    text-align: center;  
}
.global-cases-value {
    font-size: 3rem;
    color: rgb(230, 0, 0);
}
h3 {
    text-align: center;
}
.table-data {
    overflow-y: scroll;
    height: 100vh;
}
.last-updated-wrapper {
    text-align: center;
    height: 7vh;
    padding-top: 3vh;
}
.last-updated-value {
    font-size: 1.5rem;
    font-weight: bold;
}
.arrows-wrapper {    
    display: flex;
    justify-content: space-around;
    height: 3vh;
    border-top: 2px solid #363636;
}
.data-cell {
    display: grid;
    grid-template-columns: 23% 50% 27%;  
    border-bottom: 2px solid #363636;
}
.cell-value {
    color: rgb(230, 0, 0);
}
.input-field {
    cursor: pointer;
}
.hide {
    display: none;
}

