* {
  box-sizing: border-box;
}

.ST__info-list {
  display: flex;
  flex-direction: column;
}

.ST__info-name-wrapper {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.ST__info-wrapper {
  padding: 0 1em;
}

.ST__info {
  overflow-y: auto;
  overflow-x: hidden;
}

.ST__info-wrapper, .ST__info-buttons {
  background-color: #2c2c2c;
}

.ST__info-buttons {
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
  color: #bdbdbd;
}
.ST__info-buttons svg {
  background-color: #fff;
  border-radius: 50%;
  pointer-events: none;
}

.ST {
  display: flex;
  height: 100%;
  justify-items: center;
  font-size: 16px;
}
.ST div + div {
  margin: 0 10px;
}
.ST p {
  margin: 0.5em 0;
  border-bottom: 1px solid #fff;
}
.ST button {
  background-color: transparent;
  border-color: transparent;
  color: transparent;
}
.ST__info-wrapper {
  width: 50%;
}
.ST__info {
  height: 100%;
}
.ST__info-name-wrapper {
  background-color: #2c2c2c;
  width: 100%;
  top: 0;
}
.ST__info-name {
  color: #fff;
}
.ST__info-number {
  color: #fff;
}
.ST__info-list-country {
  color: #fff;
}
.ST__info-list-number {
  color: #bdbdbd;
}
.ST__info-list-status {
  color: #bdbdbd;
}
.pointerOff {
  pointer-events: none;
}