
$scrollbar-thumb: #5c5c5c;
$scrollbar: #404040;
$primary-color-1: #fff;
$primary-color-2: #bdbdbd;
$primary-color-3: #2c2c2c;
* {
     box-sizing: border-box;
}
%list {
    display: flex;
    flex-direction: column;
}
%list-name-wrap {
    display: flex;
    text-align: center;
    flex-direction: column;
}
%padding-blocks {
    padding: 0 1em;
}
%scrollBar {
    overflow-y: auto;
    overflow-x: hidden;
}
%colors {
    background-color: $primary-color-3;
}

%buttons-wrap {
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 10px 10px;
    color: $primary-color-2;

    svg {
        background-color: $primary-color-1;
        border-radius: 50%;
        pointer-events: none;
    }
    @extend %colors;
}
.ST {
    display: flex;
    height: 100%;
    justify-items: center;
    font-size: 16px;

    div + div {
        margin: 0 10px;
    }
    p {
        margin: .5em 0;
        border-bottom: 1px solid $primary-color-1;
    }
    button {
        background-color: transparent;
        border-color: transparent;
        color: transparent;
    }
        &__info-wrapper {
            width: 50%;
            @extend %padding-blocks;
            @extend %colors;
        }
		&__info {
            height: 100%;
            @extend %scrollBar;
        }

		&__info-name-wrapper {
            background-color: $primary-color-3;
            width: 100%;
            top: 0;
            @extend %list-name-wrap;
        }

		&__info-name {
            color: $primary-color-1;
        }

		&__info-number {
            color: $primary-color-1;
        }

		&__info-list {
            @extend %list;
        }
        &__info-list-country {
            color: $primary-color-1;
        }
        &__info-list-number {
            color: $primary-color-2;
        }
        &__info-list-status {
            color: $primary-color-2;
        }

        &__info-buttons {
            @extend %buttons-wrap;
            &__info-buttons__left {
            }

            &__info-buttons__right {
            }
        }

        &__info-current-status {
        }
}

.pointerOff {
    pointer-events: none;
}

