* {
  box-sizing: border-box;
}

.ST__info-list {
  display: flex;
  flex-direction: column;
}

.ST__info-name-wrapper {
  display: flex;
  text-align: center;
  flex-direction: column;
}

.ST__info-wrapper {
  padding: 0 1em;
}

.ST__info {
  overflow-y: auto;
  overflow-x: hidden;
}

.ST__info-wrapper, .ST__info-buttons {
  background-color: #f8f9fa;
}

.ST__info-buttons {
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 10px 10px;
  color: #f8f9fa;
}
.ST__info-buttons svg {
  background-color: #212529;
  border-radius: 50%;
  pointer-events: none;
}

.ST {
  display: flex;
  height: 100%;
  justify-items: center;
  font-size: 16px;
}
.ST div + div {
  margin: 0 10px;
}
.ST p {
  margin: 0.5em 0;
  border-bottom: 1px solid #212529;
}
.ST button {
  background-color: transparent;
  border-color: transparent;
  color: transparent;
  outline: none;
}
.ST__info-wrapper {
  width: 50%;
}
.ST__info {
  height: 100%;
}
.ST__info-name-wrapper {
  background-color: #f8f9fa;
  width: 100%;
  top: 0;
}
.ST__info-name {
  color: #212529;
}
.ST__info-number {
  color: #212529;
}
.ST__info-list-country {
  color: #212529;
}
.ST__info-list-number {
  color: #6c757d;
}
.ST__info-list-status {
  color: #6c757d;
}
.ST__info-buttons-img-wrapper {
  width: 1em;
}
.ST__info-buttons-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.ST__info-current-status {
  text-align: center;
  color: #212529;
}

.pointerOff {
  pointer-events: none;
}